<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de {{pelicula.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{pelicula.Poster}}">
    <ion-card-header>
      <ion-card-title>{{pelicula.Title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Año de estreno: {{pelicula.Released}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Duración: {{pelicula.Runtime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Idioma: {{pelicula.Language}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Trama: {{pelicula.Plot}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>